@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
  font-family: "Open Sans","Roboto",Arial,sans-serif;
}

.survey {
  margin: 0;
  padding: 0;
  background: hsla(222, 100%, 98%, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.survey:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #5977B0;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  flex: 1 1 auto;
  min-width: 400px;
  width: 80%;
  max-width: 1000px;
  z-index: 2;
  margin: 50px 0 30px 0;
  color: #fff;
}

header h1 {
  font-size: 48px;
}

header p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  letter-spacing: 0.05em;
  font-size: 18px;
  color: hsla(222, 100%, 92%, 1);
  font-weight: 100;
}

header img {
  position: absolute;
  top: -40px;
  right: 0;
  height: 300px;
  width: auto;
  z-index: -1;
  opacity: 0.3;
}

.survey-form-main {
  flex: 1 1 auto;
  min-width: 400px;
  width: calc(80% - 50px);
  max-width: 1000px;
  z-index: 2;
  background: #fff;
  border-radius: 25px;
  padding: 30px 50px;
  box-shadow: 0 0 10px hsla(222, 10%, 10%, 0.1), 1px 2px 6px hsla(222, 10%, 10%, 0.2);
  margin-bottom: 60px;
}

.form-item {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px 0;
}

.form-item p {
  display: block;
  font-family: 'PT Sans', Helvetica, sans-serif;
  color: hsla(222, 100%, 31%, 1);
  font-size: 17px;
}

label {
  margin-bottom: 10px;
  font-size: 20px;
}

.form-item label{
  display: block;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: hsla(222, 100%, 31%, 1);
    font-size: 17px;
    font-weight: 400;
    margin: 26px 0 10px 0;
}

.form-item.checkboxes label,
.form-item.radios label{
  color: hsla(222, 60%, 21%, 1);
  font-size: 15px;
}

.form-item input[type='text'],
.form-item input[type='email'],
.form-item input[type='number'],
.form-item select,
.form-item textarea {
  border: 2px solid hsla(222, 20%, 85%, 1);
  border-radius: 25px;
  padding: 0 10px;
  line-height: 35px;
  height: 45px;
  display: block;
  font-family: 'PT Sans', Helvetica, sans-serif;
  color: hsla(222, 100%, 11%, 1);
  font-size: 14px;
  width: calc(100% - 20px);
  margin: 12px 0;
  transition: background 0.1s ease-out;
}

.form-item select {
  width: 100%;
}

.form-item textarea {
  min-height: 100px;
}

.form-item input[type='text']:hover,
.form-item input[type='email']:hover,
.form-item input[type='number']:hover,
.form-item select:hover,
.form-item textarea:hover {
  background: hsla(222, 20%, 98%, 1);
}

.form-item input[type='text']:focus,
.form-item input[type='email']:focus,
.form-item input[type='number']:focus,
.form-item select:focus,
.form-item textarea:focus {
  outline: none;
  background: hsla(222, 20%, 98%, 1);
  border: 2px solid hsla(222, 100%, 61%, 1);
}

button {
  display: inline-block;
  border: 0 solid transparent;
  height: 35px;
  width: auto;
  border-radius: 25px;
  background: #5977B0;
  /* box-shadow: 0 1px 3px hsla(0,0%,0%,0.2); */
  color: #fff;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.btn-light {
  border-radius: 25px;
  background: #ffffff;
  color: #5977B0;
  padding: 10px 20px;
}

#submit {
  width: 200px;
}

button:hover {
  background: hsla(222, 100%, 36%, 1);
} 

button:active {
  background: hsla(222, 100%, 45%, 1);
  box-shadow: 0 0 0 transparent;
} 

footer {
  margin: 60px 0 0 0;
  height: 200px;
  width: 100%;
  background: hsla(222, 80%, 5%, 0.7);
}


/* Styles for Modal */

img#friendMatchPhoto {
    border: 0;
    width: 100%;
    border-radius: 0%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.close {
    float: right;
    font-size: 41px;
    line-height: 1;
    color: #5977B0;
    filter: alpha(opacity=20);
    box-shadow: none;
}

button.close:hover {
  background: none;
  color: #5977B0;
}

#friendMatch {
  font-size: 30px;
  color: #5977B0;
  font-weight: 700;
}

.modal-header {
  border-bottom:none;
}

.modal-content {
  border-radius: 25px;
}

.modal-body {
  padding: 0;
}

.modal-body h3, .modal-body h2 {
  padding-left: 30px;
}
